<div>
  <mat-toolbar class="flex flex-row justify-between">
    <a class="text-decorator-none" routerLink="/2023">F2023</a>
    <!-- This fills the remaining space of the current row -->
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon aria-hidden="false" aria-label="Åbn menu">menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="container mx-auto">
    <mat-sidenav #sidenav mode="over" position="end">
      <sha-sidebar (closing)="sidenav.close()"></sha-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="flex-auto flex flex-col justify-center justify-items-center">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>