/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/toolbar";

mat-card-actions > button > span, mat-card-actions > a {
  text-transform: uppercase;
}

button[mat-fab] {
  position: fixed;
  right: 16px;
  bottom: 16px;
}